{% extends 'admin/base.html.twig' %}

{% block title %}User Groups{% endblock %}

{% block body %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Users</li>
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <i class="fas fa-users"></i> Users
                </div>
                <div class="col">
                    <a class="btn btn-primary btn-sm float-right" href="{{ path('user_group_new') }}">Create new</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_group in user_groups %}
            <tr>
                <td>{{ user_group.id }}</td>
                <td>{{ user_group.name }}</td>
                <td>
                    <a class="btn btn-info float-right" href="{{ path('user_group_edit', {'id': user_group.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                    {{ include('admin/user_group/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
        </div>
    <div class="card-footer small text-muted">{{ knp_pagination_render(user_groups) }}</div>
</div>
{% endblock %}
